body {
    font-family: Arial, sans-serif;
    background-color: rgb(176, 215, 176);
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.total-amount{
    display: flex;
    justify-content: space-around;
}

.balance p {
    font-size: 18px;
    margin: 5px ;
    /* border: 1px solid black; */
    padding: 10px;
    width: max-content;
    border-radius: 10px;
}

.income-border{
    background-color: #28a745;
    color: white;
}
.expense-border{
    background-color: red;
    color: white;
}

.net-div{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.net-border{
    border: 1px solid black;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.2);
}


.form {
    margin: 20px ;
}

.form input, .form select, .form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

.form button:hover {
    background-color: #218838;
}

.filter-area{
    border-top: 1px solid black;
}

.filters {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.entry1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-line{
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    margin-top: 5px;
}

ul li {
    background: #43b7f1;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.2);
}
.entry-details{
    width: 100%;
    /* border: 1px solid black; */
}

ul li button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.edit-btn {
    background-color: rgb(164, 164, 4);
    color: white;
    width: 50%;
}

.delete-btn {
    background-color: red;
    color: white;
    width: 50%;
}

ul li button:hover {
    opacity: 0.7;
}


@media (max-width:500px){
    .total-amount{
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 25px;
    }

    .entry1{
        font-size: 12px;
    }

    .edit-btn,.delete-btn{
        font-size: 12px;
    }
}